<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8"/>
		<title>D.O.N.K.E.Y. Hochschulgruppenverwalter - {% block title_status %}{% endblock %}  </title>
		<script src="/hsg/js/jquery-2.1.4.min.js"></script>
                <script src="/hsg/js/bootstrap.min.js"></script> 
                <link href="/hsg/css/bootstrap.min.css" rel="stylesheet">
        </head> 

  <body role="document">
  {% now "Y" as current_year %}
        <!-- Fixed navbar -->                                                                                                                                                                                                    
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">                                                                                                                                                   
          <div class="container">                                                                                                                                                                                                
                                                                                                                                                                                                                                 
                <div id="navbar" class="navbar-collapse collapse">                                                                                                                                                               
                  <ul class="nav navbar-nav">   
			<li><a href={% url 'hsg:group-all' %}>Alle HSGs</a></li>
			<li><a href={% url 'hsg:group-year' current_year %}>{{ current_year }}</a></li>
                  </ul>
                </div><!--/.nav-collapse -->
          </div>
        </nav>
        <br><br><br>
	<div>
		 {% block body_block %}{% endblock %}
	</div>
  </body>
